[submodule "firmware/submodules/pico-sdk"]
	path = firmware/submodules/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git

[submodule "firmware/submodules/ioLibrary_Driver"]
	path = firmware/submodules/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "vscp-firmware"]
	path = vscp-firmware
	url = https://github.com/grodansparadis/vscp-firmware.git
[submodule "firmware/submodules/FreeRTOS-Kernel"]
	path = firmware/submodules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
